# Atmospheric mixing parameters found in NuFIT v3.2
# http://www.nu-fit.org/?q=node/166

#theta12 = 33.62 +/- 0.77 units.deg
theta12 = 33.62 units.deg
theta12.range = [31.42, 36.05] * units.deg

#theta13_nh = 8.54 +/- 0.15 units.deg
theta13_nh = 8.54 +/- 0.25 units.deg
theta13_nh.range = [8.09, 8.98] * units.deg

#theta13_ih = 8.58 +/- 0.14 units.deg
theta13_ih = 8.58 +/- 0.25 units.deg
theta13_ih.range = [8.14, 9.01] * units.deg

#theta23_nh = 47.2 +/- 2.9 units.deg
theta23_nh = 47.2 units.deg
theta23_nh.range = [40.3, 51.5] * units.deg

#theta23_ih = 48.1 +/- 1.6 units.deg
theta23_ih = 48.1 units.deg
theta23_ih.range = [41.3, 51.7] * units.deg

deltacp_nh = 234 +/- 37 units.deg
deltacp_nh.range = [144,374] * units.deg

deltacp_ih = 278 +/- 28 units.deg
deltacp_ih.range = [192,354] * units.deg

#deltam21 = 7.4e-5 +/- 0.21e-5 units.eV**2
deltam21 = 7.4e-5 units.eV**2
deltam21.range = [6.8e-5, 8.02e-5] * units.eV**2

#deltam31_nh = 2.494e-3 +/- 0.032e-3 units.eV**2
deltam31_nh = 2.494e-3 units.eV**2
deltam31_nh.range = [2.399e-3, 2.593e-3] * units.eV**2

#deltam31_ih = -2.391e-3 +/- 0.032e-3 units.eV**2
deltam31_ih = -2.391e-3 units.eV**2
deltam31_ih.range = [-2.488e-3, -2.295e-3] * units.eV**2