# Define neutrino data loader stage

[data.simple_data_loader]

apply_mode = events

output_names = nue_cc, numu_cc, nutau_cc, nuebar_cc, numubar_cc, nutaubar_cc, nue_nc, numu_nc, nutau_nc, nuebar_nc, numubar_nc, nutaubar_nc

# This is neutrino data
neutrinos = True

# Point to where the neutrino MC events can be found
events_file = /data/user/akatil/electron_neutrino/for_real/PISA/data/upgrade_with_bdt_score_029.hdf5
#events_file = /data/user/akatil/electron_neutrino/for_real/PISA/data/upgrade_with_all_var_029_extended.hdf5
#events_file = /data/user/akatil/electron_neutrino/for_real/PISA/data/upgrade_with_all_var_029_tilde_inelasticity_0.4.hdf5

# fraction_events_to_keep = 0.2
# events_subsample_index = 4

# Define cuts that should be applied to the events
mc_cuts = ${event_selection_specs:cuts}

# Define the variables to load from the input events file
# Can also renamed variable this way, and stack multiple variables if required
# Format :
#   Keys (left) are the names that will be used in PISA
#   Values (right) are the variable name(s) in the input files
data_dict = {'true_energy':'MCInIcePrimary.energy', \
             'true_coszen':'MCInIcePrimary.dir.coszen', \
             'pdg_code':'MCInIcePrimary.pdg_encoding', \
             'interaction':'I3MCWeightDict.InteractionType', \
             'weighted_aeff':'weighted_aeff', \
             'reco_energy':'graphnet_dynedge_energy_reconstruction_energy_pred', \
             'reco_coszen':'graphnet_dynedge_zenith_reconstruction_coszen_pred', \
             'pid':'graphnet_dynedge_track_classification_track_pred', \
             'prob_nu':'graphnet_dynedge_neutrino_classification_neutrino_pred', \
             'num_hit_modules':'QuesoL3_Vars_cleaned_num_hit_modules', \
             'num_hit_pmts_dc':'QuesoL3_Vars_cleaned_num_hits_fid_vol', \
             'time_length':'QuesoL3_Vars_cleaned_length', \
             'uncleaned_length':'QuesoL3_Vars_uncleaned_length', \
             'vertexZ':'QuesoL3_Vars_cleaned_vertexZ', \
             'QuesoL3_Bool':'QuesoL3_Bool', \
             'L4_gnn':'QuesoL4_Vars_graphnet_L4_neutrino_pred', \
             'L4_bdt1':'QuesoL4_Vars_L4_muon_firstBDT_score', \
             'L4_bdt2':'QuesoL4_Vars_L4_muon_secondBDT_score', \
             'QuesoL4_Bool':'QuesoL4_Bool', \
             'starting_event':'MCDeepCoreStartingEvent', \
             'dis':'I3GenieResult.dis',\
             'linear_fit_maccqe':'linear_fit_MaCCQE', \
             'quad_fit_maccqe':'quad_fit_MaCCQE', \
             'linear_fit_maccres':'linear_fit_MaCCRES', \
             'quad_fit_maccres':'quad_fit_MaCCRES', \
             'linear_fit_mancres':'linear_fit_MaNCRES', \
             'quad_fit_mancres':'quad_fit_MaNCRES', \
             'linear_fit_macohpi':'linear_fit_MaCOHpi', \
             'quad_fit_macohpi':'quad_fit_MaCOHpi', \
             'bjorken_y':'I3GenieResult.y',\
             'beta1':'Beta1Reco',\
             'beta2':'Beta2Reco',\
             'beta3':'Beta3Reco',\
             'beta4':'Beta4Reco',\
             'beta5':'Beta5Reco',\
             'median_angle':'MedianAngle',\
             'median_tres':'MediantRes',\
             'median_distance':'MedianDistance',\
             'cog_dist':'CogDistance',\
             'nc_classifier': 'NuE_NC_BDT_classifier_score',\
             'numu_classifier': 'NuE_NuMu_BDT_classifier_score'
             }
             
#'nue_bdt_score': 'NuE_BDT_classifier_score'
# 'rand':'RandomNumber',
# 'reco_coszen':'graphnet_dynedge_direction_reconstruction_coszen_pred', \
# 'unc_weights':'unc_weights', \
# 'reco_energy':'FreeDOM_energy', \
# 'reco_coszen':'FreeDOM_coszen', \
# 'pid':'FreeDOM_track_energy', \
# 'reco_z':'FreeDOM_z', \
# 'reco_rho':'FreeDOM_rho36', \
# 'reco_time':'FreeDOM_time',\
# 'reco_n_iters':'FreeDOM_n_iters', \