#-------------------------------------------
# Define histogramming stage
# 
# Located in $PISA/pisa/stage/utils/hist.py
#-------------------------------------------

[utils.hist]

calc_mode = events
apply_mode = ${event_selection_specs:output_binning}

error_method = sumw2
apply_unc_weights = False

#unweighted=True
