# Define atmospheric muon systematics stage

[background.atm_muons]

calc_mode = events
apply_mode = events

input_names = muon

# Overall normalisation
# Fixing this, instead relying on the normalisation in the `weight` stage
param.atm_muon_scale = 1. * units.dimensionless
param.atm_muon_scale.fixed = True

# Define the spline
#TODO These don't need to be params
param.delta_gamma_mu_file = background/muongun_primary_cr_uncertainties_coszenith.txt
param.delta_gamma_mu_spline_kind = linear
param.delta_gamma_mu_variable = true_coszen

# The atmospheric muon flux spectral index systematic
param.delta_gamma_mu = 0.0 +/- 1.0 units.dimensionless
param.delta_gamma_mu.fixed = True
param.delta_gamma_mu.range = nominal + [-3.0, +3.0] * units.dimensionless
param.delta_gamma_mu.tex = \Delta \gamma_\mu