# Define neutrino flux stages


[flux.honda_ip]

# Use Honda 2015 flux for the nominal flux

calc_mode = flux_binning
#calc_mode = events
apply_mode = events

param.flux_table = flux/honda-2015-spl-solmin-aa.d


[flux.barr_simple]

#calc_mode = flux_binning
calc_mode = events
apply_mode = events

# * nu/nubar ratio
param.nu_nubar_ratio = 1.0 +/- 0.1
param.nu_nubar_ratio.fixed = True
param.nu_nubar_ratio.range = nominal + [-3., +3.] * sigma

# * nu_e/nu_mu ratio
param.nue_numu_ratio = 1.0 +/- 0.05
param.nue_numu_ratio.fixed = False
param.nue_numu_ratio.range = nominal + [-0.5, +0.5]

# Barr flux up/horizontal
param.Barr_uphor_ratio = 0.0 +/- 1.0
param.Barr_uphor_ratio.fixed = False
param.Barr_uphor_ratio.range = nominal + [-3.0, +3.0]

# Barr flux nu/nubar
param.Barr_nu_nubar_ratio = 0.0 +/- 1.0
param.Barr_nu_nubar_ratio.fixed = False
param.Barr_nu_nubar_ratio.range = nominal + [-3.0, +3.0]

# Spectral index
param.delta_index = 0.0 +/- 0.1
param.delta_index.fixed = False
param.delta_index.range = nominal + [-5, +5] * sigma


[flux.mceq_barr]

# Use MCEq for flux systematic uncrtainties

#calc_mode = flux_binning
calc_mode = events
apply_mode = events

# Directory of spline tables geberated by `$PISA/scripts/create_barr_sys_tables_mceq.py`
table_file = common/data/flux/v03/MCEq_flux_gradient_splines_2212_GlobalSplineFitBeta_DPMJETIII191.pckl.bz2

# Using Honda as the input flux, rather than MCEq's own prediction
use_honda_nominal_flux = True

# uncertainties from CR spectrum
# Spectral index
param.delta_index = 0.0 +/- 0.1
param.delta_index.fixed = False
param.delta_index.range = nominal + [-5, +5] * sigma
param.delta_index.tex = \Delta \gamma_\nu

param.energy_pivot = 24.0900951261 * units.GeV
param.energy_pivot.fixed = True

# Barr uncertainties
# Pions
param.pion_ratio = 0.0 +/- 0.05
param.pion_ratio.fixed = True
param.pion_ratio.range = nominal + [-5., +5.] * sigma 
param.pion_ratio.tex = \rm{Barr}, \: \pi^+ / \pi^-

param.barr_a_Pi = 0.0 +/- 0.1
param.barr_a_Pi.fixed = True
param.barr_a_Pi.range = nominal + [-5., +5.] * sigma 
param.barr_a_Pi.tex = \rm{Barr}, \: a_{\pi^+}

param.barr_b_Pi = 0.0 +/- 0.3
param.barr_b_Pi.fixed = True
param.barr_b_Pi.range = nominal + [-5., +5.] * sigma
param.barr_b_Pi.tex = \rm{Barr}, \: b_{\pi^+}

param.barr_c_Pi = 0.0 +/- 0.1
param.barr_c_Pi.fixed = True
param.barr_c_Pi.range = nominal + [-5., +5.] * sigma
param.barr_c_Pi.tex = \rm{Barr}, \: c_{\pi^+}

param.barr_d_Pi = 0.0 +/- 0.3
param.barr_d_Pi.fixed = True
param.barr_d_Pi.range = nominal + [-5., +5.] * sigma
param.barr_d_Pi.tex = \rm{Barr}, \: d_{\pi^+}

param.barr_e_Pi = 0.0 +/- 0.05
param.barr_e_Pi.fixed = True
param.barr_e_Pi.range = nominal + [-5., +5.] * sigma
param.barr_e_Pi.tex = \rm{Barr}, \: e_{\pi^+}

param.barr_f_Pi = 0.0 +/- 0.1
param.barr_f_Pi.fixed = True
param.barr_f_Pi.range = nominal + [-5., +5.] * sigma
param.barr_f_Pi.tex = \rm{Barr}, \: f_{\pi^+}

param.barr_g_Pi = 0.0 +/- 0.3
param.barr_g_Pi.fixed = False
param.barr_g_Pi.range = nominal + [-5., +5.] * sigma
param.barr_g_Pi.tex = \rm{Barr}, \: g_{\pi^+}

param.barr_h_Pi = 0.0 +/- 0.15
param.barr_h_Pi.fixed = False
param.barr_h_Pi.range = nominal + [-5., +5.] * sigma
param.barr_h_Pi.tex = \rm{Barr}, \: h_{\pi^+}

param.barr_i_Pi = 0.0 +/- 0.122
param.barr_i_Pi.fixed = False
param.barr_i_Pi.range = nominal + [-5., +5.] * sigma
param.barr_i_Pi.tex = \rm{Barr}, \: i_{\pi^+}

# K+ and K- production rate is varied completly independent of each other
param.barr_w_K = 0.0 +/- 0.4
param.barr_w_K.fixed = False
param.barr_w_K.range = nominal + [-5., +5.] * sigma
param.barr_w_K.tex = \rm{Barr}, \: w_{K^+}

param.barr_x_K = 0.0 +/- 0.1
param.barr_x_K.fixed = True
param.barr_x_K.range = nominal + [-5., +5.] * sigma
param.barr_x_K.tex = \rm{Barr}, \: x_{K^+}

param.barr_y_K = 0.0 +/- 0.3
param.barr_y_K.fixed = False
param.barr_y_K.range = nominal + [-5., +5.] * sigma
param.barr_y_K.tex = \rm{Barr}, \: y_{K^+}

param.barr_z_K = 0.0 +/- 0.122
param.barr_z_K.fixed = True
param.barr_z_K.range = nominal + [-5., +5.] * sigma
param.barr_z_K.tex = \rm{Barr}, \: z_{K^+}

param.barr_w_antiK = 0.0 +/- 0.4
param.barr_w_antiK.fixed = True
param.barr_w_antiK.range = nominal + [-5., +5.] * sigma
param.barr_w_antiK.tex = \rm{Barr}, \: w_{K^-}

param.barr_x_antiK = 0.0 +/- 0.1
param.barr_x_antiK.fixed = True
param.barr_x_antiK.range = nominal + [-5., +5.] * sigma
param.barr_x_antiK.tex = \rm{Barr}, \: x_{K^-}

param.barr_y_antiK = 0.0 +/- 0.3
param.barr_y_antiK.fixed = True
param.barr_y_antiK.range = nominal + [-5., +5.] * sigma
param.barr_y_antiK.tex = \rm{Barr}, \: y_{K^-}

param.barr_z_antiK = 0.0 +/- 0.122
param.barr_z_antiK.fixed = True
param.barr_z_antiK.range = nominal + [-5., +5.] * sigma
param.barr_z_antiK.tex = \rm{Barr}, \: z_{K^-}
