
#----------------------------------------------------------------
# Main pipeline config file for the standrad neutrino oscillation
#----------------------------------------------------------------

#---- Define some binning as dict objects
#include settings/binning/oscNext_binning.cfg as binning


#---- Define some constants, like the best-fit oscillation parameters
#---- Note: these are located in $PISA/pisa_examples/resources/settings/osc/
#include settings/osc/nufitv52.cfg as osc
#include settings/osc/earth.cfg as earth


#---- Define the name and some specifications about the event selection 
#include settings/pipeline/stages_oscnext/oscNext_sample.cfg

#---- First PISA stage to be called: Define location and quantities to load 
#include settings/pipeline/stages_oscnext/neutrino_data_stage.cfg

#---- PISA stage for MCEq
#include settings/pipeline/stages_shared/neutrino_flux_stage.cfg

#---- PISA stage for prob3
#include settings/pipeline/stages_shared/neutrino_osc_stage.cfg

#---- PISA stage for genie cross-sections
#include settings/pipeline/stages_shared/neutrino_xsec_stage.cfg

#---- call to PISA stage pi_aeff (defines nc + nutau normalisation, applies OneWeight)
#include settings/pipeline/stages_shared/neutrino_weight_stage.cfg

#---- Module that bins data into the analysis binning
#include settings/pipeline/stages_shared/hist_stage.cfg

#---- Hypersurfaces
#include settings/pipeline/stages_oscnext/neutrino_hypersurface_stage_interpolated.cfg
fit_results_file = oscNext/pass2/pisa/hypersurfaces/oscNext_std_osc/numu_disappearance/neutrino/neutrino__numu_disappearance__hypersurfaces_deltam31_theta23_delta_index_nh_grid_fits.pckl



[pipeline]

# define order of stages to be excecuted one after another
order = data.simple_data_loader, flux.honda_ip, flux.mceq_barr, osc.prob3, xsec.genie_sys, xsec.dis_sys, xsec.nutau_xsec, aeff.aeff, utils.hist, discr_sys.hypersurfaces

# Select the params denoted by param.<param_selector>.<param_name>
param_selections = nh

# Name the contents of this pipeline
name = neutrinos

# Detector
detector_name = deepcore

# if maps should be created as the output of the stage
output_binning = ${event_selection_specs:output_binning}
output_key = ${event_selection_specs:output_key}

