#include settings/binning/juno_binning.cfg as binning

[pipeline]

order = flux.juno_bck, utils.hist
detector_name = juno

# Name the contents of this pipeline
name = background

# if maps should be created as the output of the stage
output_binning = reco_juno
output_key = weights, errors

[flux.juno_bck]

calc_mode = reco_juno
apply_mode = events

param.livetime = 900.00 * units.day

param.Accidental = True
param.alpha_n = True
param.Fast_neutrons = True
param.Li_He = True
param.Geo_neutrinos = True

[utils.hist]

calc_mode = events
apply_mode = reco_juno

error_method = sumw2
apply_unc_weights = False
