#include settings/binning/juno_binning.cfg as binning
#include settings/osc/nufitv52.cfg as osc
#include settings/osc/earth.cfg as earth

[pipeline]

order = flux.juno_flux, osc.prob3, aeff.param, reco.param_juno, utils.hist
param_selections = ih
detector_name = juno

# Name the contents of this pipeline
name = neutrinos

# if maps should be created as the output of the stage
output_binning = reco_juno
output_key = weights, errors

[flux.juno_flux]

calc_mode = true_juno
apply_mode = events

output_names = nue_cc, numu_cc, nutau_cc, nuebar_cc, numubar_cc, nutaubar_cc, nue_nc, numu_nc, nutau_nc, nuebar_nc, numubar_nc, nutaubar_nc
NEvents = 1

param.used_NPPs = ['YJ-C1','YJ-C2','YJ-C3','YJ-C4','YJ-C5','YJ-C6','TS-C1','TS-C2','DYB','HZ']

param.corr_react_uncer = 1 +/- 0.02
param.corr_react_uncer.fixed = False
param.corr_react_uncer.range = [0.95, 1.05] * units.dimensionless

param.uncorr_react_uncer1 = 1 +/- 0.008
param.uncorr_react_uncer1.fixed = False
param.uncorr_react_uncer1.range = [0.99, 1.01] * units.dimensionless

param.uncorr_react_uncer2 = ${flux.juno_flux:param.uncorr_react_uncer1}
param.uncorr_react_uncer2.fixed = ${flux.juno_flux:param.uncorr_react_uncer1.fixed}
param.uncorr_react_uncer2.range = [0.99, 1.01] * units.dimensionless

param.uncorr_react_uncer3 = ${flux.juno_flux:param.uncorr_react_uncer1}
param.uncorr_react_uncer3.fixed = ${flux.juno_flux:param.uncorr_react_uncer1.fixed}
param.uncorr_react_uncer3.range = [0.99, 1.01] * units.dimensionless

param.uncorr_react_uncer4 = ${flux.juno_flux:param.uncorr_react_uncer1}
param.uncorr_react_uncer4.fixed = ${flux.juno_flux:param.uncorr_react_uncer1.fixed}
param.uncorr_react_uncer4.range = [0.99, 1.01] * units.dimensionless

param.uncorr_react_uncer5 = ${flux.juno_flux:param.uncorr_react_uncer1}
param.uncorr_react_uncer5.fixed = ${flux.juno_flux:param.uncorr_react_uncer1.fixed}
param.uncorr_react_uncer5.range = [0.99, 1.01] * units.dimensionless

param.uncorr_react_uncer6 = ${flux.juno_flux:param.uncorr_react_uncer1}
param.uncorr_react_uncer6.fixed = ${flux.juno_flux:param.uncorr_react_uncer1.fixed}
param.uncorr_react_uncer6.range = [0.99, 1.01] * units.dimensionless

param.uncorr_react_uncer7 = ${flux.juno_flux:param.uncorr_react_uncer1}
param.uncorr_react_uncer7.fixed = ${flux.juno_flux:param.uncorr_react_uncer1.fixed}
param.uncorr_react_uncer7.range = [0.99, 1.01] * units.dimensionless

param.uncorr_react_uncer8 = ${flux.juno_flux:param.uncorr_react_uncer1}
param.uncorr_react_uncer8.fixed = ${flux.juno_flux:param.uncorr_react_uncer1.fixed}
param.uncorr_react_uncer8.range = [0.99, 1.01] * units.dimensionless

param.uncorr_react_uncer9 = ${flux.juno_flux:param.uncorr_react_uncer1}
param.uncorr_react_uncer9.fixed = True
param.uncorr_react_uncer9.range = [0.99, 1.01] * units.dimensionless

param.uncorr_react_uncer10 = ${flux.juno_flux:param.uncorr_react_uncer1}
param.uncorr_react_uncer10.fixed = ${flux.juno_flux:param.uncorr_react_uncer9.fixed}
param.uncorr_react_uncer10.range = [0.99, 1.01] * units.dimensionless

param.uncorr_react_uncer11 = ${flux.juno_flux:param.uncorr_react_uncer1}
param.uncorr_react_uncer11.fixed = False
param.uncorr_react_uncer11.range = [0.99, 1.01] * units.dimensionless

param.uncorr_react_uncer12 = ${flux.juno_flux:param.uncorr_react_uncer1}
param.uncorr_react_uncer12.fixed = ${flux.juno_flux:param.uncorr_react_uncer11.fixed}
param.uncorr_react_uncer12.range = [0.99, 1.01] * units.dimensionless

[osc.prob3]

calc_mode = events
apply_mode = events

# Preliminary Reference Earth Model
param.earth_model = osc/PREM_12layer.dat
#param.earth_model = None

# electron densities
param.YeI = ${earth:YeI}
param.YeM = ${earth:YeM}
param.YeO = ${earth:YeO}

# height
param.detector_depth = 0.48125 units.km
param.prop_height = 0.0 units.km

# solar angle
param.theta12 = ${osc:theta12}
param.theta12.fixed = True
param.theta12.tex = \theta_{12}
param.theta12.range = ${osc:theta12.3s_range}
param.theta12.prior = uniform

# reactor angle
param.nh.theta13 = ${osc:theta13_nh}
param.nh.theta13.fixed = False
param.nh.theta13.range = ${osc:theta13_nh.3s_range}
param.nh.theta13.tex = \theta_{13}
#param.nh.theta13.prior = uniform
param.ih.theta13 = ${osc:theta13_ih}
param.ih.theta13.fixed = False
param.ih.theta13.range = ${osc:theta13_ih.3s_range}
param.ih.theta13.tex = \theta_{13}
#param.ih.theta13.prior = uniform

# Atmospheric angle
param.nh.theta23 = ${osc:theta23_nh}
param.nh.theta23.fixed = False
param.nh.theta23.range = [0., 90.] * units.deg
param.nh.theta23.prior = uniform
param.nh.theta23.tex = \theta_{23}
param.ih.theta23 = ${osc:theta23_ih}
param.ih.theta23.fixed = False
param.ih.theta23.range = [0., 90.] * units.deg
param.ih.theta23.prior = uniform
param.ih.theta23.tex = \theta_{23}

# dirac phase
# Setting to zero, since we're insensitive to this parameter
param.nh.deltacp = ${osc:deltacp_nh_gauss}
param.nh.deltacp.fixed = True
param.nh.deltacp.range = [0., 360.] * units.degree
#param.nh.deltacp.prior = uniform
param.nh.deltacp.tex = \delta_{CP}
param.ih.deltacp = ${osc:deltacp_ih_gauss}
param.ih.deltacp.fixed = True
param.ih.deltacp.range = [0., 360.] * units.degree
#param.ih.deltacp.prior = uniform
param.ih.deltacp.tex = \delta_{CP}

# solar mass splitting
param.deltam21 = ${osc:deltam21}
param.deltam21.fixed = True
param.deltam21.tex = \Delta m^{2}_{21}
param.deltam21.range = ${osc:deltam21.3s_range}
param.deltam21.prior = uniform

# Atmospheric mass splitting
param.nh.deltam31 = ${osc:deltam31_nh}
param.nh.deltam31.fixed = False
param.nh.deltam31.prior = uniform
param.nh.deltam31.range = [0.001, +0.004] * units.eV**2
param.nh.deltam31.tex = \Delta m^{2}_{31}
param.ih.deltam31 = ${osc:deltam31_ih}
param.ih.deltam31.fixed = False
param.ih.deltam31.prior = uniform
param.ih.deltam31.range = [-0.004, -0.001] * units.eV**2
param.ih.deltam31.tex = \Delta m^{2}_{31}

[aeff.param]

calc_mode = ${flux.juno_flux:apply_mode}
apply_mode = ${flux.juno_flux:apply_mode}

param.aeff_energy_paramfile = aeff/JUNO/aeff_energy_param.json
param.aeff_coszen_paramfile = aeff/JUNO/aeff_coszen_param.json

param.livetime = 900.0 * units.day

param.aeff_scale = 0.73 +/- 0.01
param.aeff_scale.fixed = False
param.aeff_scale.range = nominal + [-0.02, +0.02]

[reco.param_juno]

calc_mode = comb_juno
apply_mode = ${flux.juno_flux:apply_mode}

param.reco_paramfile = reco/JUNO/reco_param.json

[utils.hist]

calc_mode = events
apply_mode = reco_juno

error_method = sumw2
apply_unc_weights = False
