# Define the systematics parameters used for the hypersurfaces
# These are independent of event type (e.g. neutrino, muon, etc)
# Not all params are defined here, need to include this in a file that also specifies `links` and `fit_results_file`

[discr_sys.hypersurfaces]

calc_mode =  ${utils.hist:apply_mode}
apply_mode =  ${utils.hist:apply_mode}

error_method = sumw2
propagate_uncertainty = True

# DOM efficiency
# Gaussian prior, defined by the +/- sigma
param.dom_eff = 1.0 +/- 0.1
#param.dom_eff = 1.0 +/- 0.012
param.dom_eff.fixed = False
param.dom_eff.range = [0.8, 1.2] * units.dimensionless
param.dom_eff.tex = \epsilon_{\rm{DOM}}

# hole ice scattering
param.hole_ice_p0 = +0.101569
#param.hole_ice_p0 = +0.101569 +/- 0.011
param.hole_ice_p0.fixed = False
#param.hole_ice_p0.range = [-2., 1] * units.dimensionless # Now using a small physical param space
param.hole_ice_p0.range = [-0.6, 0.5] * units.dimensionless
param.hole_ice_p0.prior = uniform
param.hole_ice_p0.tex = \rm{Hole \, ice}, \: p_0

# hole ice forward
param.hole_ice_p1 = -0.049344
#param.hole_ice_p1 = -0.049344 +/- 0.001
param.hole_ice_p1.fixed = False
#param.hole_ice_p1.range = [-0.2, 0.2] * units.dimensionless
param.hole_ice_p1.range = [-0.15, 0.05] * units.dimensionless
param.hole_ice_p1.prior = uniform
param.hole_ice_p1.tex = \rm{Hole \, ice}, \: p_1

# bulk ice absorption
param.bulk_ice_abs = 1.0 +/- 0.05
#param.bulk_ice_abs = 1.0 +/- 0.004
param.bulk_ice_abs.fixed = False
param.bulk_ice_abs.range = [0.9, 1.1] * units.dimensionless
param.bulk_ice_abs.tex = \rm{Ice \; absorption}

# bulk ice scattering
param.bulk_ice_scatter = 1.0 +/- 0.1
#param.bulk_ice_scatter = 1.0 +/- 0.002
param.bulk_ice_scatter.fixed = False
param.bulk_ice_scatter.range = [0.9, 1.1] * units.dimensionless
#param.bulk_ice_scatter.range = [0.8, 1.2] * units.dimensionless
param.bulk_ice_scatter.tex = \rm{Ice \; scattering}

# An ad hoc param transforming from SPICE 3.2.1 (0) to BFR v2 (1)
param.bfr = 1 * units.dimensionless
param.bfr.fixed = True
param.bfr.range = [0, 1] * units.dimensionless
param.bfr.prior = uniform
param.bfr.tex = \rm{BFR}
