# Define atmospheric muon data loader stage

[data.simple_data_loader]

output_names = muon

# This is NOT neutrino data
neutrinos = False

# Point to where the muon MC events can be found
events_file = oscNext/pass2/pisa/v02.05/oscNext_pisa_muongun_130000_v02.05.hdf5

# Define cuts that should be applied to the events
mc_cuts = ${event_selection_specs:cuts}

# downsample events
#fraction_events_to_keep = 0.2

# Define the variables to load from the input events file
#TODO Find a way to define elements of this in common with the other pipelines
data_dict = {'true_coszen':'MCInIcePrimary.dir.coszen', \
            'initial_weights':'I3MCWeightDict.weight', \
            'reco_energy':'L7_reconstructed_total_energy', \
            'cascade_energy':'L7_reconstructed_cascade_energy', \
            'reco_coszen':'L7_reconstructed_coszen', \
            'reco_z':'L7_reconstructed_vertex_z', \
            'reco_rho':'L7_reconstructed_vertex_rho36', \
            'pid':'L7_PIDClassifier_Upgoing_ProbTrack', \
            'nDOM':'SRTTWOfflinePulsesDCHitMultiplicity.n_hit_doms' , \
            'l7_muon_classifier_prob_nu':'L7_MuonClassifier_Upgoing_ProbNu',\
            'L7_CoincidentMuon_Variables.n_top15':'L7_CoincidentMuon_Variables.n_top15',\
            'L7_CoincidentMuon_Variables.n_outer':'L7_CoincidentMuon_Variables.n_outer',\
            'L7_reconstructed_time':'L7_reconstructed_time',\
            'L5_SANTA_DirectPulsesHitMultiplicity.n_hit_doms':'L5_SANTA_DirectPulsesHitMultiplicity.n_hit_doms'}
