# Define muon hypersurface discrete systematics stage
# WARNING: These are no longer used (muon cut is now hard enough that these are not needed). 
# Not deleting this cfg file in case ever need to go back to muon hypersurfaces, but for now is not used.

#include oscNext_std_osc/settings/pipeline/stages/hypersurface_params.cfg

links = {'muon':['muon']}

fit_results_file = oscNext_std_osc/settings/discr_sys/hypersurfaces/muon/muon__numu_disappearance__hypersurface_fits__5d__dom_eff_hole_ice_p0_hole_ice_p1_bulk_ice_abs_bulk_ice_scatter.json
