#-------------------------------------------
# Define muon KDE stage
# 
# Located in $PISA/pisa/stage/utils/kde.py
#-------------------------------------------

[utils.kde]

calc_mode = events
apply_mode = ${event_selection_specs:output_binning}

bw_method = silverman
oversample = 5
coszen_reflection = 0.3
#alpha = 0.3
stack_pid = True
