# Define neutrino hypersurface discrete systematics stage
# This is a simple (non-interpolated) version

#include settings/pipeline/stages_oscnext/hypersurface_params.cfg

# This must match NEUTRINO_COMBINE_REGEX in fit_hypersurfaces.py
# Merging (a) nu+nubar, (b) all NC, and (c) NC and nue CC
links = {'nuall_ncnuallbar_ncnue_ccnuebar_cc':['nue_cc', 'nuebar_cc', 'nue_nc', 'numu_nc', 'nutau_nc', 'nuebar_nc', 'numubar_nc', 'nutaubar_nc'], 'numu_ccnumubar_cc':['numu_cc', 'numubar_cc'], 'nutau_ccnutaubar_cc':['nutau_cc', 'nutaubar_cc']}

# Not interpolating
interpolated = False

# Path to file
fit_results_file = oscNext_std_osc/settings/discr_sys/hypersurfaces/neutrino/oscNext__numu_disappearance__neutrino__spice321__bfrv2__hypersurface_fits__6d__dom_eff_hole_ice_p0_hole_ice_p1_bulk_ice_abs_bulk_ice_scatter_bfr.json
