# Define neutrino hypersurface discrete systematics stage

#include settings/pipeline/stages_oscnext/hypersurface_params.cfg

# This must match NEUTRINO_COMBINE_REGEX in fit_hypersurfaces.py
# Merging (a) nu+nubar, (b) all NC, and (c) NC and nue CC
links = {'nuall_ncnuallbar_ncnue_ccnuebar_cc':['nue_cc', 'nuebar_cc', 'nue_nc', 'numu_nc', 'nutau_nc', 'nuebar_nc', 'numubar_nc', 'nutaubar_nc'], 'numu_ccnumubar_cc':['numu_cc', 'numubar_cc'], 'nutau_ccnutaubar_cc':['nutau_cc', 'nutaubar_cc']}

# Interpolated hypersurfaces
# Interpolated in [deltam31, theta23, delta_index]
interpolated = True
param.nh.deltam31 = ${osc.prob3:param.nh.deltam31}
param.ih.deltam31 = ${osc.prob3:param.ih.deltam31}
param.nh.theta23 = ${osc.prob3:param.nh.theta23}
param.ih.theta23 = ${osc.prob3:param.ih.theta23}
param.delta_index = ${flux.mceq_barr:param.delta_index}
