# Define neutrino data loader stage

[data.simple_data_loader]

apply_mode = events

output_names = nue_cc, numu_cc, nutau_cc, nuebar_cc, numubar_cc, nutaubar_cc, nue_nc, numu_nc, nutau_nc, nuebar_nc, numubar_nc, nutaubar_nc

# This is neutrino data
neutrinos = True

# Point to where the neutrino MC events can be found
# This is BFRv2 nominal MC
events_file = oscNext/pass2/pisa/v02.05/oscNext_pisa_genie_1122_v02.05.hdf5

# Define cuts that should be applied to the events
mc_cuts = ${event_selection_specs:cuts_plus_bin_limits}

# Define the variables to load from the input events file
# Can also renamed variable this way, and stack multiple variables if required
# Format :
#   Keys (left) are the names that will be used in PISA
#   Values (right) are the variable name(s) in the input files
#TODO Find a way to define elements of this in common with the other pipelines
data_dict = {'true_energy':'MCInIcePrimary.energy', \
            'true_coszen':'MCInIcePrimary.dir.coszen', \
            'pdg_code':'MCInIcePrimary.pdg_encoding', \
            'weighted_aeff':'weighted_aeff', \
            'reco_energy':'L7_reconstructed_total_energy', \
            'reco_coszen':'L7_reconstructed_coszen', \
            'reco_z':'L7_reconstructed_vertex_z', \
            'reco_rho':'L7_reconstructed_vertex_rho36', \
            'pid':'L7_PIDClassifier_Upgoing_ProbTrack', \
            'linear_fit_maccqe':'GENIE_linear_fit_MaCCQE', \
            'quad_fit_maccqe':'GENIE_quad_fit_MaCCQE', \
            'linear_fit_maccres':'GENIE_linear_fit_MaCCRES', \
            'quad_fit_maccres':'GENIE_quad_fit_MaCCRES', \
            'linear_fit_mancres':'GENIE_linear_fit_MaNCRES', \
            'quad_fit_mancres':'GENIE_quad_fit_MaNCRES', \
            'linear_fit_macohpi':'GENIE_linear_fit_MaCOHpi', \
            'quad_fit_macohpi':'GENIE_quad_fit_MaCOHpi', \
            'l7_muon_classifier_prob_nu':'L7_MuonClassifier_Upgoing_ProbNu',\
            'L7_CoincidentMuon_Variables.n_top15':'L7_CoincidentMuon_Variables.n_top15',\
            'L7_CoincidentMuon_Variables.n_outer':'L7_CoincidentMuon_Variables.n_outer',\
            'L7_reconstructed_time':'L7_reconstructed_time',\
            'L5_SANTA_DirectPulsesHitMultiplicity.n_hit_doms':'L5_SANTA_DirectPulsesHitMultiplicity.n_hit_doms',\
            'dis':'I3GENIEResultDict.dis',\
            'bjorken_y':'I3GENIEResultDict.y'}
