# Define noise weighting stage

[aeff.weight]

# Detector livetime
param.livetime = ${event_selection_specs:livetime}

# Overall normalisation
param.weight_scale = 1.0 +/- 2.0
param.weight_scale.fixed = False
param.weight_scale.prior = uniform
param.weight_scale.range = [0.1,2.] * units.dimensionless
param.weight_scale.tex = N_{\mu}
# NOTE: tex is deliberately wrong here to allow this pipleine to be loaded at the same time as the muon pipleine (issus with re-using same stage and this param name). TODO Fix properly