#------------------------------------------------
# Define the oscNext sample
#
# Note that this does not reference a PISA stage
#------------------------------------------------

[event_selection_specs]

name = oscNext

# Define how much data we're using
#TODO Add this into the files using the livetime calculated by the run DB
livetime = 12.0 * units.common_year

# Define cuts
cuts = (l7_muon_classifier_prob_nu > 0.8) & (reco_z > -500.) & (reco_z < -200.) & (reco_rho < 300.) & (L5_SANTA_DirectPulsesHitMultiplicity.n_hit_doms > 2.5) & ( L7_CoincidentMuon_Variables.n_top15 < 0.5 ) & ( L7_CoincidentMuon_Variables.n_outer < 7.5 ) & ( L7_reconstructed_time < 14500. )

# Define an updated version of the cuts that remove events falling outside the analysis binning
# Use this to remove events that will nit end up in the histogram anyway, but do NOT use this
# for the muon pipleine since for the KDE you want those events outside of the binning range.
cuts_plus_bin_limits = ${cuts} & (reco_energy >= 5.) & (reco_energy <= 300.) & (reco_coszen <= 0.3)

# Define binning
output_binning = reco_oscNext
output_key = weights, errors

