#------------------------------------------------------------------------------
# Binning definitions
# 
# Note that this does not call the PISA binning stage
#------------------------------------------------------------------------------

#
# upgrade
#

# upgrade reco binning - Count based analysis
#reco_upgrade.order = reco_energy, reco_coszen, pid
#reco_upgrade.reco_energy = {'num_bins':1, 'is_log':True, 'domain':[3., 15.]*units.GeV, 'tex': r'E_{\rm reco}'}
#reco_upgrade.reco_coszen = {'num_bins':1, 'is_lin':True, 'domain':[-1, -0.3], 'tex':r'\cos\,\theta_{z,{\rm reco}}'}
#reco_upgrade.pid = {'bin_edges': [0, 0.6], 'tex':r'{\rm PID}', 'bin_names':['cascades']}
reco_upgrade.order = true_energy, true_coszen, pid
#reco_upgrade.reco_energy = {'num_bins':12, 'is_log':True, 'domain':[3., 100.]*units.GeV, 'tex': r'E_{\rm reco}'}
#reco_upgrade.reco_coszen = {'num_bins':10, 'is_lin':True, 'domain':[-1, 0.], 'tex':r'\cos\,\theta_{z,{\rm reco}}'}
reco_upgrade.true_energy = {'num_bins':12, 'is_log':True, 'domain':[3., 100.]*units.GeV, 'tex': r'E_{\rm true}'}
reco_upgrade.true_coszen = {'num_bins':10, 'is_lin':True, 'domain':[-1, 0.], 'tex':r'\cos\,\theta_{z,{\rm true}}'}
#reco_upgrade.pid = {'bin_edges': [-inf, 5.0, 15.0, inf], 'tex':r'{\rm PID}', 'bin_names':['cascades', 'mixed', 'tracks']}
reco_upgrade.pid = {'bin_edges': [0, 0.5, 0.9, 1], 'tex':r'{\rm PID}', 'bin_names':['cascades', 'mixed', 'tracks']}
#reco_upgrade.pid = {'bin_edges': [0, 0.2, 0.55, 1], 'tex':r'{\rm PID}', 'bin_names':['cascades', 'mixed', 'tracks']}
#reco_upgrade.mask = [(0,0,2),(0,1,2),(0,2,2),(0,3,2),(0,4,2),(0,5,2),(0,6,2),(0,7,2),(0,8,2),(0,9,2),(9,0,1),(10,0,1),(10,1,1),(10,2,1),(10,3,1),(11,0,1),(11,1,1),(11,2,1),(11,3,1),(11,4,1),(11,5,1),(11,6,1),(11,7,1),(11,8,1),(11,9,1)]

#upgrade binning for NuE studies
#reco_upgrade.order = reco_energy, reco_coszen, pid
#reco_upgrade.order = true_energy, true_coszen, pid
#reco_upgrade.reco_energy = {'num_bins':1, 'is_log':True, 'domain':[3., 15.]*units.GeV, 'tex': r'E_{\rm reco}'}
#reco_upgrade.reco_coszen = {'num_bins':1, 'is_lin':True, 'domain':[-1, -0.3], 'tex':r'\cos\,\theta_{z,{\rm reco}}'}
#reco_upgrade.pid = {'bin_edges': [0, 0.6], 'tex':r'{\rm PID}', 'bin_names':['cascades']}
#reco_upgrade.pid = {'bin_edges': [0, 0.5, 0.9, 1.0], 'tex':r'{\rm PID}', 'bin_names':['cascades', 'mixed', 'tracks']}

# upgrade truth calc binning
true_upgrade.order = true_energy, true_coszen
true_upgrade.true_energy = {'num_bins':15, 'is_log':True, 'domain':[1.,300.] * units.GeV, 'tex': r'E_{\rm true}'}
true_upgrade.true_coszen = {'num_bins':15, 'is_lin':True, 'domain':[-1,1], 'tex':r'\cos\,\theta_{z,{\rm true}}'}

# upgrade xsec binning
xsec_upgrade.order = true_energy, bjorken_y
xsec_upgrade.true_energy = {'num_bins':30, 'is_log':True, 'domain':[1.,300.] * units.GeV, 'tex': r'E_{\rm true}'}
xsec_upgrade.bjorken_y = {'num_bins':30, 'is_lin':True, 'domain':[0.,1.], 'tex':r'{\rm Bjorken\ } y'}

# Binning for oscillation probability calc
# Denser binning for core-crossing events due to structure there at low energies
# Cover full generation range, which is coszen=[-1., 1.], energy=[1 GeV, 10 TeV]
osc_binning.order = true_energy, true_coszen
osc_binning.true_energy = {'num_bins':50, 'is_log':True, 'domain':[1.e0, 1.e4] * units.GeV, 'tex': r'E_{\rm true}'}
osc_binning.true_coszen = {'bin_edges':np.concatenate((np.linspace(-1.,0.1,26), np.linspace(0.1,1.,6)[1:])), 'tex':r'\cos\,\theta_{Z,{\rm true}}'}

# Binning for flux calculation
# Less fine detail in the shape than oscillogram, so can use less bins
# Cover full generation range, which is coszen=[-1., 1.], energy=[1 GeV, 10 TeV]
flux_binning.order = true_energy, true_coszen
flux_binning.true_energy = {'num_bins':50, 'is_log':True, 'domain':[1.e0, 1.e4] * units.GeV, 'tex':r'E_{\rm true}'}
flux_binning.true_coszen = {'num_bins':50, 'is_lin':True, 'domain':[-1., 1.], 'tex':r'\cos\,\theta_{z,{\rm true}}'}

# Variable Binning - Strict Cut
reco_var_binning.order = reco_energy, reco_coszen, pid
reco_var_binning.split = (beta1 >= 0) & (beta1 <= 0.0002) & (median_angle >= 0.62) & (median_angle <= 0.77) & (pid <= 0.2), (beta1 < 0) | (beta1 > 0.0002) | (median_angle < 0.62) | (median_angle > 0.77) | (pid > 0.2)
reco_var_binning.reco_energy = {'num_bins':12, 'is_log':True, 'domain':[3.,100.]*units.GeV, 'tex':r'E_{\rm reco}'}
reco_var_binning.reco_coszen = {'num_bins':10, 'is_lin':True, 'domain':[-1,0], 'tex':r'\cos{\theta}_{\rm reco}'}
#reco_var_binning.pid = {'bin_edges': [0., 0.2, 0.55, 1.], 'tex':r'{\rm PID}', 'bin_names':['cascades', 'mixed', 'tracks']}
reco_var_binning.pid = {'bin_edges': [0, 0.5, 0.9, 1], 'tex':r'{\rm PID}', 'bin_names':['cascades', 'mixed', 'tracks']}
#reco_var_binning.mask = [(0,0,2),(0,1,2),(0,2,2),(0,3,2),(0,4,2),(0,5,2),(0,6,2),(0,7,2),(0,8,2),(0,9,2),(9,0,1),(10,0,1),(10,1,1),(10,2,1),(10,3,1),(11,0,1),(11,1,1),(11,2,1),(11,3,1),(11,4,1),(11,5,1),(11,6,1),(11,7,1),(11,8,1),(11,9,1)]

# Variable Binning - Relaxed Cut
#reco_var_binning2.order = reco_energy, reco_coszen, pid
#reco_var_binning2.split = (beta1 >= 0) & (beta1 <= 0.001) & (median_angle >= 0.5) & (median_angle <= 0.9) & (pid <= 0.4), (beta1 < 0) | (beta1 > 0.001) | (median_angle < 0.5) | (median_angle > 0.9) | (pid > 0.4) 
#reco_var_binning2.split = (beta1 >= 0) & (beta1 <= 0.001) & (median_angle >= 0.5) & (median_angle <= 0.9) & (pid <= 0.4), ~((beta1 >= 0) & (beta1 <= 0.001) & (median_angle >= 0.5) & (median_angle <= 0.9) & (pid <= 0.4))
#reco_var_binning2.split = (beta1 >= 0) & (beta1 <= 0.001) & (median_angle >= 0.5) & (median_angle <= 0.9), ~((beta1 >= 0) & (beta1 <= 0.001) & (median_angle >= 0.5) & (median_angle <= 0.9))
#reco_var_binning2.split = (pid <= 0.4), ~((pid <= 0.4))
#reco_var_binning2.reco_energy = {'num_bins':12, 'is_log':True, 'domain':[3.,100.]*units.GeV, 'tex':r'E_{\rm reco}'}
#reco_var_binning2.reco_coszen = {'num_bins':10, 'is_lin':True, 'domain':[-1,0], 'tex':r'\cos{\theta}_{\rm reco}'}
#reco_var_binning2.pid = {'bin_edges': [0., 0.2, 0.55, 1.], 'tex':r'{\rm PID}', 'bin_names':['cascades', 'mixed', 'tracks']} 
#reco_var_binning2.pid = {'bin_edges': [0, 0.5, 0.9, 1], 'tex':r'{\rm PID}', 'bin_names':['cascades', 'mixed', 'tracks']}
#reco_var_binning2.mask = [(0,0,2),(0,1,2),(0,2,2),(0,3,2),(0,4,2),(0,5,2),(0,6,2),(0,7,2),(0,8,2),(0,9,2),(9,0,1),(10,0,1),(10,1,1),(10,2,1),(10,3,1),(11,0,1),(11,1,1),(11,2,1),(11,3,1),(11,4,1),(11,5,1),(11,6,1),(11,7,1),(11,8,1),(11,9,1)]

#reco_var_binning2.order = reco_energy, reco_coszen, pid
#reco_var_binning2.split = (beta1 >= 0) & (beta1 <= 0.001) & (median_angle >= 0.5) & (median_angle <= 0.9) & (pid <= 0.4), ~((beta1 >= 0) & (beta1 <= 0.001) & (median_angle >= 0.5) & (median_angle <= 0.9) & (pid <= 0.4))
#reco_var_binning2.split = (beta1 >= 0) & (beta1 <= 0.001) & (median_angle >= 0.5) & (median_angle <= 0.9), ~((beta1 >= 0) & (beta1 <= 0.001) & (median_angle >= 0.5) & (median_angle <= 0.9))
#reco_var_binning2.reco_energy = {'num_bins':6, 'is_log':True, 'domain':[3., 15.]*units.GeV, 'tex':r'E_{\rm reco}'}
#reco_var_binning2.reco_coszen = {'num_bins':5, 'is_lin':True, 'domain':[-1,-0.3], 'tex':r'\cos{\theta}_{\rm reco}'}
#reco_var_binning2.pid = {'bin_edges': [0, 0.6], 'tex':r'{\rm PID}', 'bin_names':['cascades']}

reco_var_binning2.order = reco_energy, reco_coszen, pid
reco_var_binning2.split = (beta1 >= 0) & (beta1 <= 0.001) & (median_angle >= 0.5) & (median_angle <= 0.9), ~((beta1 >= 0) & (beta1 <= 0.001) & (median_angle >= 0.5) & (median_angle <= 0.9))
#reco_var_binning2.split = (beta1 >= 0) & (beta1 <= 0.001) & (median_angle >= 0.5) & (median_angle <= 0.9), ~((beta1 >= 0) & (beta1 <= 0.001) & (median_angle >= 0.5) & (median_angle <= 0.9))
reco_var_binning2.reco_energy = {'num_bins':12, 'is_log':True, 'domain':[3., 100.]*units.GeV, 'tex':r'E_{\rm reco}'}
reco_var_binning2.reco_coszen = {'num_bins':10, 'is_lin':True, 'domain':[-1, 0], 'tex':r'\cos{\theta}_{\rm reco}'}
reco_var_binning2.pid = {'bin_edges': [0, 0.5, 0.9, 1], 'tex':r'{\rm PID}', 'bin_names':['cascades', 'mixed', 'tracks']}

# Variable Binning - Random Binning
rand_var_binning.order = reco_energy, reco_coszen, pid
#rand_var_binning.order = true_energy, true_coszen, pid
#rand_var_binning.order = reco_energy, reco_coszen, rand, pid
#rand_var_binning.split = (rand <= 0.5), (rand > 0.5)
rand_var_binning.split = (rand <= 0.05), (rand > 0.05)
rand_var_binning.reco_energy = {'num_bins':1, 'is_log':True, 'domain':[3., 15.]*units.GeV, 'tex':r'E_{\rm reco}'}
rand_var_binning.reco_coszen = {'num_bins':1, 'is_lin':True, 'domain':[-1, -0.3], 'tex':r'\cos{\theta}_{\rm reco}'}
rand_var_binning.pid = {'bin_edges': [0, 0.6], 'tex':r'{\rm PID}', 'bin_names':['cascades']}
#rand_var_binning.pid = {'bin_edges': [0, 0.5, 0.9, 1], 'tex':r'{\rm PID}', 'bin_names':['cascades', 'mixed', 'tracks']}
#rand_var_binning.rand = {'bin_edges': [0, 0.5, 1], 'tex':r'random variable'}
#rand_var_binning.pid = {'bin_edges': [0., 0.2, 0.55, 1.], 'tex':r'{\rm PID}', 'bin_names':['cascades', 'mixed', 'tracks']} 
#rand_var_binning.pid = {'bin_edges': [0, 0.5, 0.9, 1], 'tex':r'{\rm PID}', 'bin_names':['cascades', 'mixed', 'tracks']}
#rand_var_binning.mask = [(0,0,2),(0,1,2),(0,2,2),(0,3,2),(0,4,2),(0,5,2),(0,6,2),(0,7,2),(0,8,2),(0,9,2),(9,0,1),(10,0,1),(10,1,1),(10,2,1),(10,3,1),(11,0,1),(11,1,1),(11,2,1),(11,3,1),(11,4,1),(11,5,1),(11,6,1),(11,7,1),(11,8,1),(11,9,1)]

# Variable Binning - BDT score
#bdt_binning.order = reco_energy, reco_coszen, pid
#bdt_binning.split = (nue_bdt_score >= 0.55) & (pid <= 0.25), ~((nue_bdt_score >= 0.55) & (pid <= 0.25))
#bdt_binning.reco_energy = {'num_bins':12, 'is_log':True, 'domain':[3.,100.]*units.GeV, 'tex':r'E_{\rm reco}'}
#bdt_binning.reco_coszen = {'num_bins':10, 'is_lin':True, 'domain':[-1,0], 'tex':r'\cos{\theta}_{\rm reco}'}
#bdt_binning.pid = {'bin_edges': [0, 0.5, 0.9, 1], 'tex':r'{\rm PID}', 'bin_names':['cascades', 'mixed', 'tracks']}

# NuE BDT Binning
bdt_binning_nue.order = reco_energy, reco_coszen, pid
bdt_binning_nue.split = (nc_classifier >= 0.4) & (numu_classifier >= 0.5), ~((nc_classifier >= 0.4) & (numu_classifier >= 0.5))
bdt_binning_nue.reco_energy = {'num_bins':1, 'is_log':True, 'domain':[3.,15.]*units.GeV, 'tex':r'E_{\rm reco}'}
bdt_binning_nue.reco_coszen = {'num_bins':1, 'is_lin':True, 'domain':[-1,-0.3], 'tex':r'\cos{\theta}_{\rm reco}'}
bdt_binning_nue.pid = {'bin_edges': [0, 0.6], 'tex':r'{\rm PID}', 'bin_names':['cascades']}

# NuMu BDT Binning
bdt_binning_numu.order = reco_energy, reco_coszen, pid
bdt_binning_numu.split = (nc_classifier >= 0.4) & (numu_classifier < 0.5), ~((nc_classifier >= 0.4) & (numu_classifier < 0.5))
bdt_binning_numu.reco_energy = {'num_bins':1, 'is_log':True, 'domain':[3.,15.]*units.GeV, 'tex':r'E_{\rm reco}'}
bdt_binning_numu.reco_coszen = {'num_bins':1, 'is_lin':True, 'domain':[-1,-0.3], 'tex':r'\cos{\theta}_{\rm reco}'}
bdt_binning_numu.pid = {'bin_edges': [0, 0.6], 'tex':r'{\rm PID}', 'bin_names':['cascades']}

# NC BDT Binning
bdt_binning_nc.order = reco_energy, reco_coszen, pid
bdt_binning_nc.split = (nc_classifier < 0.4), ~((nc_classifier < 0.4))
bdt_binning_nc.reco_energy = {'num_bins':1, 'is_log':True, 'domain':[3.,15.]*units.GeV, 'tex':r'E_{\rm reco}'}
bdt_binning_nc.reco_coszen = {'num_bins':1, 'is_lin':True, 'domain':[-1,-0.3], 'tex':r'\cos{\theta}_{\rm reco}'}
bdt_binning_nc.pid = {'bin_edges': [0, 0.6], 'tex':r'{\rm PID}', 'bin_names':['cascades']}

