# Define atmospheric muon data loader stage

[data.simple_data_loader]

output_names = muon

# This is NOT neutrino data
neutrinos = False

# Point to where the muon MC events can be found
events_file = /data/sim/IceCubeUpgrade/pisa/level4_queso_v01/ICU_pisa_muongun_029_level4_queso_v01.hdf5

# Define cuts that should be applied to the events
mc_cuts = ${event_selection_specs:cuts}

# downsample events
#fraction_events_to_keep = 0.2

# Define the variables to load from the input events file
#TODO Find a way to define elements of this in common with the other pipelines
data_dict = {'true_coszen':'MCInIcePrimary.dir.coszen', \
            'initial_weights':'I3MCWeightDict.weight', \
            'num_hit_modules':'QuesoL3_Vars_cleaned_num_hit_modules', \
            'num_hit_pmts_dc':'QuesoL3_Vars_cleaned_num_hits_fid_vol', \
            'time_length':'QuesoL3_Vars_cleaned_length', \
            'uncleaned_length':'QuesoL3_Vars_uncleaned_length', \
            'vertexZ':'QuesoL3_Vars_cleaned_vertexZ', \
            'QuesoL3_Bool':'QuesoL3_Bool', \
            'L4_gnn':'QuesoL4_Vars_graphnet_L4_neutrino_pred', \
            'L4_bdt1':'QuesoL4_Vars_L4_muon_firstBDT_score', \
            'L4_bdt2':'QuesoL4_Vars_L4_muon_secondBDT_score', \
            'QuesoL4_Bool':'QuesoL4_Bool', \
            'prob_nu':'graphnet_dynedge_neutrino_classification_neutrino_pred', \
            'reco_energy':'graphnet_dynedge_energy_reconstruction_energy_pred', \
            'reco_coszen':'graphnet_dynedge_zenith_reconstruction_coszen_pred', \
            'pid':'graphnet_dynedge_track_classification_track_pred', \ 
            }

#'reco_coszen':'graphnet_dynedge_direction_reconstruction_coszen_pred', \
#'reco_rho':'FreeDOM_rho36', \
#'reco_n_iters':'FreeDOM_n_iters', \
#'reco_energy':'FreeDOM_energy', \
#'reco_coszen':'FreeDOM_coszen', \
#'pid':'FreeDOM_track_energy', 