#------------------------------------------------
# Define the upgrade sample
#
# Note that this does not reference a PISA stage
#------------------------------------------------

[event_selection_specs]

name = upgrade

# Define how much data we're using
#TODO Add this into the files using the livetime calculated by the run DB
livetime = 3.0 * units.common_year

# Define cuts
#cuts = None
#cuts = (num_hit_modules >= 4.) & (num_hit_pmts_dc >= 6.) & (time_length <= 3000.) & (vertexZ <= -120.) & (uncleaned_length <= 15000.) & (reco_n_iters > 0) & (reco_rho < 290) & (prob_nu > 0.99)
#cuts = (num_hit_modules >= 4.) & (num_hit_pmts_dc >= 6.) & (time_length <= 3000.) & (vertexZ <= -120.) & (uncleaned_length <= 15000.) & (L4_bdt1 > 0.85) & (L4_bdt2 > 0.6) & (L4_gnn > 0.95)
cuts = (QuesoL3_Bool == True) & (QuesoL4_Bool == True) & (num_hit_pmts_dc >= 7.)

# Define binning
#output_binning = reco_upgrade
output_binning = bdt_binning_numu
#TODO update?
#output_binning = reco_var_binning
#output_binning = rand_var_binning
output_key = weights, errors

