# Define atmospheric muon weighting stage

[aeff.weight]

calc_mode = events
apply_mode = events

# Detector livetime
param.livetime = ${event_selection_specs:livetime}

# Overall normalisation
param.weight_scale = 1.0 +/- 2.0
param.weight_scale.fixed = False
param.weight_scale.prior = uniform
param.weight_scale.range = [0.1,3.] * units.dimensionless
param.weight_scale.tex = N_{\mu}
