# Define neutrino oscillation stage

[osc.prob3]

calc_mode = osc_binning
apply_mode = events

# Preliminary Reference Earth Model
param.earth_model = osc/PREM_12layer.dat
#param.earth_model = None

# electron densities
param.YeI = ${earth:YeI}
param.YeM = ${earth:YeM}
param.YeO = ${earth:YeO}

# height
param.detector_depth = ${earth:detector_depth}
param.prop_height = ${earth:prop_height}

# solar angle
param.theta12 = ${osc:theta12}
param.theta12.fixed = True
param.theta12.tex = \theta_{12}
param.theta12.range = ${osc:theta12.3s_range}
param.theta12.prior = uniform

# reactor angle
param.nh.theta13 = ${osc:theta13_nh}
param.nh.theta13.fixed = True
param.nh.theta13.range = ${osc:theta13_nh.3s_range}
param.nh.theta13.tex = \theta_{13}
#param.nh.theta13.prior = uniform
param.ih.theta13 = ${osc:theta13_ih}
param.ih.theta13.fixed = True
param.ih.theta13.range = ${osc:theta13_ih.3s_range}
param.ih.theta13.tex = \theta_{13}
#param.ih.theta13.prior = uniform

# Atmospheric angle
param.nh.theta23 = ${osc:theta23_nh}
param.nh.theta23.fixed = False
param.nh.theta23.range = [0., 90.] * units.deg
param.nh.theta23.prior = uniform
param.nh.theta23.tex = \theta_{23}
param.ih.theta23 = ${osc:theta23_ih}
param.ih.theta23.fixed = False
param.ih.theta23.range = [0., 90.] * units.deg
param.ih.theta23.prior = uniform
param.ih.theta23.tex = \theta_{23}

# dirac phase
param.nh.deltacp = ${osc:deltacp_nh_gauss}
param.nh.deltacp.fixed = True
param.nh.deltacp.range = [0., 360.] * units.degree
#param.nh.deltacp.prior = uniform
param.nh.deltacp.tex = \delta_{CP}
param.ih.deltacp = ${osc:deltacp_ih_gauss}
param.ih.deltacp.fixed = True
param.ih.deltacp.range = [0., 360.] * units.degree
#param.ih.deltacp.prior = uniform
param.ih.deltacp.tex = \delta_{CP}

# solar mass splitting
param.deltam21 = ${osc:deltam21}
param.deltam21.fixed = True
param.deltam21.tex = \Delta m^{2}_{21}
param.deltam21.range = ${osc:deltam21.3s_range}
param.deltam21.prior = uniform

# Atmospheric mass splitting
param.nh.deltam31 = ${osc:deltam31_nh}
param.nh.deltam31.fixed = False
param.nh.deltam31.prior = uniform
param.nh.deltam31.range = [0.001, +0.004] * units.eV**2
param.nh.deltam31.tex = \Delta m^{2}_{31}
param.ih.deltam31 = ${osc:deltam31_ih}
param.ih.deltam31.fixed = False
param.ih.deltam31.prior = uniform
param.ih.deltam31.range = [-0.004, -0.001] * units.eV**2
param.ih.deltam31.tex = \Delta m^{2}_{31}
