# Define neutrino weighting and scaling stage

[aeff.aeff]

calc_mode = events
apply_mode = events

# Detector livetime
param.livetime = ${event_selection_specs:livetime}

# Overall normalisation
#param.aeff_scale = 1.0
param.aeff_scale = 1.0 +/- 2.0
param.aeff_scale.fixed = False
param.aeff_scale.range = [0.1,2.] * units.dimensionless
param.aeff_scale.prior = uniform
param.aeff_scale.tex = N_{\nu}

# CC tau neutrino norm
param.nutau_cc_norm = 1.0
param.nutau_cc_norm.fixed = True
param.nutau_cc_norm.range = [0.2, 2.0] * units.dimensionless
param.nutau_cc_norm.prior = uniform

# CC+NC nutau norm
# This is the physics parameter in the nutau appearance analysis
param.nutau_norm = 1.0
param.nutau_norm.fixed = True
param.nutau_norm.range = [0.0, 3.0] * units.dimensionless
param.nutau_norm.prior = uniform
param.nutau_norm.tex = N_{\nu_\tau}

# NC norm
param.nu_nc_norm = 1.0 +/- 0.2
param.nu_nc_norm.fixed = True
param.nu_nc_norm.range = nominal + [-.5,+.5]
param.nu_nc_norm.tex = N_{\nu, NC}
