# Define neutrino cross section stages

# Add GENIE cross section systematics stage 

[xsec.genie_sys]

calc_mode = events
apply_mode = events

interactions = Genie_Ma_QE Genie_Ma_RES Genie_Ma_RES_NC Genie_Ma_COH_PI
names = maccqe maccres mancres macohpi

# Genie axial masses
# Quasi Elastic
param.Genie_Ma_QE = 0.0 +/- 1.0
param.Genie_Ma_QE.fixed = False
param.Genie_Ma_QE.range = nominal + [-2.0, +2.0]
param.Genie_Ma_QE.tex = M_{A,QE}

# Resonance
param.Genie_Ma_RES = 0.0 +/- 1.0
param.Genie_Ma_RES.fixed = False
param.Genie_Ma_RES.range = nominal + [-2.0, +2.0]
param.Genie_Ma_RES.tex = M_{A,res}

param.Genie_Ma_RES_NC = 0.0 +/- 1.0
param.Genie_Ma_RES_NC.fixed = True
param.Genie_Ma_RES_NC.range = nominal + [-2.0, +2.0]
param.Genie_Ma_RES_NC.tex = M_{A,res nc}

# Coherent
param.Genie_Ma_COH_PI = 0.0 +/- 1.0
param.Genie_Ma_COH_PI.fixed = True
param.Genie_Ma_COH_PI.range = nominal + [-2.0, +2.0]
param.Genie_Ma_COH_PI.tex = M_{A,coh}


# Add DIS cross section systematic stage

[xsec.dis_sys]

calc_mode = events
apply_mode = events

# DIS scale
param.dis_csms = 0.0 +/- 1.0
param.dis_csms.fixed = False
param.dis_csms.range = nominal + [-3.0, +3.0]
param.dis_csms.tex = {\rm DIS}


# Add nutau cross section systematic stage

[xsec.nutau_xsec]

calc_mode = events
apply_mode = events

param.nutau_xsec_scale = 0.0
param.nutau_xsec_scale.fixed = True
param.nutau_xsec_scale.range = [-1.0, +1.0] * units.dimensionless
param.nutau_xsec_scale.prior = uniform
